<h1>Upload your photos</h1>

<div ng-app="app">
  <div ng-controller="photosCtrl">
  </div>

  <%= form_for @photo do |f| %>
    <%= f.file_field :url %>

    <%= f.submit %>
  <% end %>

  <% Photo.all.each do |photo| %>
    <%= image_tag photo.url, :width => "50" %>
  <% end %>
</div>
